.depositOnlineScreen {
    direction: rtl;
    .custom-input label{
        right: unset!important;
        left: 15px!important;
        margin-top: 7px;
    }

    & .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
