.depositOnlineScreen {
    .custom-input label{
        left: unset!important;
        right: 15px!important;
        margin-top: 7px;
    }

    & .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
